.analyze {
    position: relative;
}

.analyze > .badge {
    position: absolute;
    right: 0;
    top: 0;
    background-color: darkred;
    color: white;
    border-radius: 5px;
    padding: 3px 6px;
}