.analyze {
    position: relative;
}

.analyze > .badge {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
    padding: 3px 6px;
    opacity: 0.5;
    display: flex;
    align-items: center;
    transition: .2s;
    transform: translateX(calc(100% + 5px));
    z-index: 1;
}

.analyze > .badge.hide {
    display: none;
}

.analyze > .badge:hover {
    opacity: 1;
    cursor: default;
}

.analyze > .badge.positive {
    background-color: rgba(0, 128, 0, 0.5);
}
.analyze > .badge.negative {
    background-color: rgba(139, 0, 0, 0.5);
}
.analyze > .badge.neutral {
    background-color: rgba(128, 128, 128, 0.5);;
}

.analyze > .badge > .smile,
.analyze > .badge > .robot {
    font-size: 20px;
}

.analyze > .badge > .robot {
    margin-right: 5px;
}

.analyze > .badge > .confidence {
    color: white;
    margin-left: 5px;
}
