body {
    background-color: white;
    min-width: 300px;
    user-select: none;
    box-sizing: border-box;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: grey;
    margin: 10px auto;
}

label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

label input {
    margin-left: -1px;
    margin-right: 10px;
}
